footer.content-info {
 // background: $color_three
 // color: $color_one
  //padding: 10px
  .nav-footer {
    font-size: .7rem
    margin-top: .9rem
    padding-bottom: 3rem
    +alllink() {
      color: $color_two
      text-decoration: none
    }
    a:hover {
      text-decoration: underline
    }
    ul.nav {
      +above($break_two) {
        display: flex
        justify-content: space-between
      }
      &:before {
        display: none
      }
      li {
        display: inline-block
        +alllink() {
          padding: 0 1em 0 0
        }
      }
    }
    .contributors {
      +above($break_two) {
        display: flex
        justify-content: space-between
        .c-info {
          order: -2
        }
        .author-link {
          order: -1
        }
        .contributors-inner {
          margin-top: -0.4rem
          span,
          a {
            display: inline-block
            vertical-align: middle
          }
          a {
            margin-left: .5rem
          }
        }
      }
      +below($break_two) {
        > span,
        > a {
          display: block
        }
        .author-link {
          margin-top: 1rem
          &:first-letter {
            text-transform: capitalize
          }
        }
        .contributors-text {
          display: block
          margin-top: .5rem
          margin-bottom: .2rem
        }
        .logo_gemeete_groningen {
          margin-right: .2rem
        }
      }
      .w-logo {
        hide-text()
        display: inline-block
      }
      .logo_gemeete_groningen {
        @extend .svg-sprite_gemeente-dims
        @extend .svg-sprite_gemeente
      }
      .logo_mjd {
        @extend .svg-sprite_mjd-dims
        @extend .svg-sprite_mjd
      }
    }
  }
}
