
.container {
  lost-center: $break_max.w
}

//// HEADER
$total_parts = 12
$nav_width_small = 6
$nav_width_large = 9
header.banner {
  .logo {
    lost-column: ($total_parts - $nav_width_small) / $total_parts
    +above($break_one) {
      lost-column: ($total_parts - $nav_width_large) / $total_parts
    }
  }
  .navigation-container {
    lost-column: $nav_width_small / $total_parts
    +above($break_one) {
      lost-column: $nav_width_large / $total_parts 
    }
  }
}

//// CONTENT
$total_parts = 24
$main_width = 17
.wrap.container {
  //// MAIN
  main.main {
    lost-column: $total_parts / $total_parts
    .sidebar-primary & {  // if has sidebar
      +above($break_one) {
        lost-column: $main_width / $total_parts
      }
    }
  }
  //// SIDEBAR
  aside.sidebar {
    lost-column: $total_parts / $total_parts
    +above($break_one) {
      lost-column: ($total_parts - $main_width) / $total_parts
    }
  }
}

$total_parts = 48
$main_width = 15
footer.content-info {
    //
}
