
.container {
  lost-center: $break_max.w
  //center($break_max.w, $break_max.p)
}

//// HEADER
header.banner {
  .logo {
    +above($break_one) {
      lost-column: 1/4
    }
  }
  .navigation-container {
    +above($break_one) {
      lost-column: 3/4
    }
  }
}

//// CONTENT
.wrap.container {
  main.main {
    lost-column: 3/3
    .sidebar-primary & {  // if has sidebar
      +above($break_one) {
        lost-column: 2/3
      }
    }
  }
  //// SIDEBAR
  aside.sidebar {
    lost-column: 3/3
    +above($break_one) {
      lost-column: 1/3
    }
  }
}
