$svg-common
	background url("../images/css/svg-sprite.svg") no-repeat

.svg-sprites_facebook
	@extend $svg-common
	background-position 0 100%

.svg-sprites_facebook-dims
	width 40px
	height 40px

.svg-sprites_instagram
	@extend $svg-common
	background-position 29.62962962962963% 100%

.svg-sprites_instagram-dims
	width 40px
	height 40px

.svg-sprites_share-email
	@extend $svg-common
	background-position 34.61538461538461% 0

.svg-sprites_share-email-dims
	width 45px
	height 45px

.svg-sprites_share-facebook
	@extend $svg-common
	background-position 0 52.94117647058823%

.svg-sprites_share-facebook-dims
	width 45px
	height 45px

.svg-sprites_share-gplus
	@extend $svg-common
	background-position 34.61538461538461% 52.94117647058823%

.svg-sprites_share-gplus-dims
	width 45px
	height 45px

.svg-sprites_share-linkedin
	@extend $svg-common
	background-position 0 0

.svg-sprites_share-linkedin-dims
	width 45px
	height 45px

.svg-sprites_share-pinterest
	@extend $svg-common
	background-position 69.23076923076923% 0

.svg-sprites_share-pinterest-dims
	width 45px
	height 45px

.svg-sprites_share-twitter
	@extend $svg-common
	background-position 69.23076923076923% 52.94117647058823%

.svg-sprites_share-twitter-dims
	width 45px
	height 45px

.svg-sprites_soundcloud
	@extend $svg-common
	background-position 59.25925925925926% 100%

.svg-sprites_soundcloud-dims
	width 40px
	height 40px

.svg-sprites_twitter
	@extend $svg-common
	background-position 100% 0

.svg-sprites_twitter-dims
	width 40px
	height 40px

.svg-sprites_youtube
	@extend $svg-common
	background-position 100% 44.44444444444444%

.svg-sprites_youtube-dims
	width 40px
	height 40px

